<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--Add test files here -->

<suite name="ShoppingTools_Automation">


<suite-files>

<suite-file path="./Resources/suitefiles/orderproductsandvalidatingcart.xml"/>

</suite-files>

</suite>
